@model ShipmentDriver.Web.Models.Shipment


<form method="post" asp-controller="Shipment" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Shipment</h2>
            <hr/>
        </div>
         <input asp-for="Id" hidden class="form-control" />
         <input asp-for="CreatedAt" hidden class="form-control" />
    <div class="mb-3">
        <label asp-for="Origin"></label>
        <input asp-for="Origin" disabled class="form-control" />
        <span asp-validation-for="Origin" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="Destination"></label>
        <input asp-for="Destination" disabled class="form-control" />
         <span asp-validation-for="Destination" class="text-danger"></span>

    </div>
     <div class="mb-3">
        <label asp-for="Comments"></label>
        <input asp-for="Comments" disabled class="form-control" />
    </div>
     <div class="mb-3">
        <label asp-for="ShipmentDate"></label>
        <input asp-for="ShipmentDate" disabled class="form-control" />
        <span asp-validation-for="ShipmentDate" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="PlannedDate"></label>
        <input asp-for="PlannedDate" disabled class="form-control" />
        <span asp-validation-for="PlannedDate" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="EffectiveDate"></label>
        <input asp-for="EffectiveDate" disabled class="form-control" />
        <span asp-validation-for="EffectiveDate" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="CreatedBy"></label>
        <input asp-for="CreatedBy" disabled class="form-control" />
    </div>
     <div class="mb-3">
        <label asp-for="DriverId">Driver</label>
         <input asp-for="DriverId" disabled class="form-control" />
     </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    <a asp-controller="Shipment" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />

    }
}
